.body-div{
	width: 900px;
	background: #fff;
	border-radius: 3px;
    border: var(--client-primary-color) 2px solid;
	margin: 40px auto;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}

.broadsheet-body{
	width: 100%;
	max-width: 3000px;
}

.terminal-body{
	width: 950px;
}

.all-terminal-body{
	width: 980px;
}

.body-div .header-back-div{
	width: 100%;
	display: flex;
    align-items: center;
	flex-direction: column;
}


.body-div .header-back-div .header-div{
	display: flex;
    align-items: center;
	width: calc(100% - 50px);
	padding: 0px 25px;
	padding-top: 40px;
	background: url(../images/title.png) center no-repeat;
	background-size: cover;
}

.body-div .header-back-div .header-div .inner-div{
	width: 100%;
	display: flex;
    align-items: center;
	gap: 20px;
}

.body-div .header-back-div .header-div .inner-div .logo-div{
	width: 90px;
	overflow: hidden;
}

.body-div .header-back-div .header-div .inner-div .logo-div img{
	width: 100%;
	object-fit: cover;
}

.body-div .header-back-div .header-div .inner-div .text-div{ 
	width: calc(100% - 110px);
	display: flex;
	justify-content: space-between;
	gap: 1px;
}

.body-div .header-back-div .header-div .inner-div .text-div h1{ 
	padding: 0px;
	margin: 0px;
	font-size: 24px;
	line-height: 28px;
	color: var(--client-primary-color);
	max-width: 300px ;
}

.body-div .header-back-div .header-div .inner-div .text-div .text{ 
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 13px;
	font-family: body-font;
	color: var(--sub-body-color);
}
.body-div .header-back-div .header-div .inner-div .text-div .text span{ 
	color: var(--client-secondary-color);
}

.body-div .header-back-div .title-back-div{ 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.body-div .header-back-div .title-back-div .title-div{ 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	min-height: 30px;
	padding: 5px 0px;
	background: var(--client-primary-color);
	font-size: 20px;
	font-family: sub-title-font;
	font-weight: 600;
	color: var(--white-color);
}

.body-div .header-back-div .title-back-div .grey-title{ 
	background-color: rgba(230, 230, 230, 0.8);
	font-size: 14px;
	color: var(--sub-body-color);
}

.top-containner-back-div{ 
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80px;
}

.bottom-containner-back-div{
	padding-bottom: 40px;
}

.top-containner-back-div .inner-div-cont{ 
 	width: 95%;
	display: flex;
	align-items: center;
	gap: 20px;
	min-height: 50px;
}

.top-containner-back-div .inner-div-cont .image-div{ 
	width: 130px;
	height: 130px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: -30px;
}

.top-containner-back-div .inner-div-cont .image-div img{ 
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.top-containner-back-div .inner-div-cont .content-div {
	width: calc(100% - 120px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.top-containner-back-div .inner-div-cont .progress-content-div {
	justify-content: center;
}

.top-containner-back-div .inner-div-cont .content-div .name{
	font-size: 24px;
	font-family: title-font;
	padding: 0px 2px;
	color: var(--sub-body-color);
}

.top-containner-back-div .inner-div-cont .content-div .details {
    height: auto;
    display: flex;
    font-size: 12px;
}

.top-containner-back-div .inner-div-cont .content-div .details span {
    color: var(--sub-body-color);
    font-size: 13px;
	font-family: sub-title-font;
	font-weight: 700;
	text-decoration: underline;
}


.top-containner-back-div .inner-div-cont .content-div .bottom-details{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}


.body-div .inner-content{
    width:95%;
    height: auto;
    display: flex;
    flex-direction: column;
	padding-bottom: 40px;
	gap: 30px;
}


/* Table Style*/
.table-div{
	width:100%;
	border-radius: 8px;
	margin-top: 25px;
	background: url(../images/watermark.jpg) center no-repeat;
	background-size: cover;
}



.table-div .table {
	width: 100%;
	min-width: 500px;
	border-collapse: collapse;
	color:#333;
}

.table-div .table .tb-col{
	height: 40px;
    text-align: left;
    background-color: rgba(230, 230, 230, 0.8);
	color: var(--body-color);
}

.table-div .table .tb-col th {
    padding: 10px 20px;
	font-weight: 100;
	font-size: 12px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
	border: 2px solid rgba(215, 215, 215, .9);
}

.table-div .table .tb-row td {
    padding: 10px 20px;
	border: 2px solid rgba(215, 215, 215, .9);
	font-size: 12px;
	color: var(--body-color);
}

.table-div .table tbody tr:nth-child(odd) {
  	background: var(--white-color);
}

.table-div .table tbody tr:nth-child(even) {
    background-color: rgba(230, 230, 230, 0.8);
}





.bottom-content-back-div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80px;
}

.bottom-content-back-div .inner-container{ 
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
	min-height: 50px;
}

.bottom-content-back-div .inner-container .content-container {
	width: calc(100% - 120px);
    height: auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.bottom-content-back-div .inner-container .content-container .list-content {
    height: auto;
    display: flex;
    font-size: 12px;
	gap: 8px;
}

.bottom-content-back-div .inner-container .content-container .list-content span {
    color: var(--sub-body-color);
    font-size: 13px;
	font-family: body-font;
	font-weight: 400;
}

.bottom-content-back-div .inner-container .content-container .list-content p {
    color: var(--sub-body-color);
    font-size: 13px;
	font-family: sub-title-font;
	font-weight: 700;
	text-decoration: underline;
}


.bottom-content-back-div .inner-container .content-container .signature{ 
	width: 200px;
	display: flex;
	align-self: flex-end;
	overflow: hidden;
}

.bottom-content-back-div .inner-container .content-container .image-div img{ 
	width: 100%;
	height: 100%;
	object-fit: cover;
}








.table-div .table .green-color{
	color:rgba(9, 172, 77, 0.9);
}

.table-div .table .orange-color{
	color:rgba(218, 90, 31, 0.87);
}
